
# Generated output files
_recordings/****

# Config files
config-bandplan.toml
config-static.toml
config-dynamic.json
config-capture_sets.json
config-roi.json

# Service startup script
qrm-logger.sh

# Distribution files
dist_qrm-logger.zip
temp_dist/
create_distribution.bat
exclude_list.txt

# Python
__pycache__/

# IDEs
.vscode/
.idea/

warp.md

drafts/*