
# Generated output files
_recordings/****

config.json
capture_sets.json
#roi-config.json

# Distribution files
dist_qrm-logger.zip
temp_dist/
create_distribution.bat
exclude_list.txt

# Python
__pycache__/

# IDEs
.vscode/
.idea/

warp.md

drafts/*